@import url("https://fonts.googleapis.com/css?family=Raleway|Sigmar+One&display=swap");

$color-primary: #3046c5;
$color-secondary: #5637dd;
$color-pale: #cec8ff;
$color-mid: #901cad;
$color-dark: #60106b;
$color-black-transparent: rgba(0, 0, 0, 0.5);

$body-font: "Open Sans", sans-serif;
$header-font: "Lobster", cursive;

body {
  font-family: $body-font;
}

h1,
h2,
h3 {
  font-family: $header-font;
}

h2 {
  color: $color-primary;
}

header {
  h2 {
    color: $color-pale;
  }
  p {
    color: cornflowerblue;
  }
}

.site-footer {
  background-image: linear-gradient($color-pale, white);
  padding: 20px 0;
}

.jumbotron {
  padding: 30px;
  background-image: linear-gradient(
    to right,
    $color-secondary,
    $color-primary,
    $color-dark
  );
  color: white;
  margin: 0;
}

.row-content {
  padding: 50px 0;
  border-bottom: 1px ridge;
  min-height: 200px;
}

.navbar .container-fluid {
  padding-left: 0;
}

.carousel-caption {
  background-color: $color-black-transparent;
}

.carousel img {
  object-fit: cover;
}

.img-thumbnail {
  max-width: 200px;
}

/* .carousel {
  border: solid #5637dd;
} */

label[data-site-type] {
  background-color: silver !important;
}

label[data-site-type].active {
  background-color: limegreen !important;
}

/* Masthead */

.navbar {
  border-bottom: 1px solid white;
  padding-left: 0;
  transition: background-color 0.4s ease-out;
}

.navbar:not(.opaque) {
  background-color: rgba(0, 0, 0, 0.8);
}

.navbar.opaque {
  background-color: rgba(0, 0, 0, 1);
}

.navbar-text {
  padding: 0;
}

.navbar-brand {
  align-items: center;
  background: white;
  display: flex;
  height: 80px;
  padding: 0 0 0 1rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
}

.navbar-brand:not(.mobile),
.scrollsville .navbar-brand.mobile {
  transform: translate3d(0, 0, 0);
  transition: all 0.2s 0.2s;
}

.navbar-brand.mobile,
.scrollsville .navbar-brand:not(.mobile) {
  transform: translate3d(-150%, 0, 0);
  transition: all 0.2s;
}

.navbar-brand::before {
  background: rgba(0, 0, 0, 0.3);
  content: "";
  height: calc(100% + 5px);
  left: 0;
  position: absolute;
  transform: skew(-20deg);
  top: 0;
  width: calc(100% + 38px);
  z-index: -2;
}

.navbar-brand::after {
  background-color: white;
  content: "";
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  transform: skew(-20deg);
  width: calc(100% + 35px);
  z-index: -1;
}

.branding {
  color: #222;
  font-family: "Sigmar One";
  font-size: 36px;
  line-height: 1.1;
  margin: -7px 0 0 0;
}

.branding span {
  display: block;
  font-family: "Raleway";
  font-size: 18px;
}

.navbar-brand.mobile {
  align-items: center;
  height: 56px;
  padding: 0 0.5rem;
}

.navbar-brand.mobile .branding {
  font-size: 28px;
  margin-top: 0;
}

.navbar-brand.mobile::after {
  width: calc(100% + 15px);
}

.navbar-brand.mobile::before {
  background: rgba(0, 0, 0, 0.7);
  width: calc(100% + 13px);
}

.masthead .navbar-collapse .navbar-nav {
  margin-left: 310px;
  transition: all 0.2s 0.2s;
}

.masthead.scrollsville .navbar-collapse .navbar-nav {
  transform: translate3d(-90px, 0, 0);
}

#carouselButton {
  position: absolute;
  right: 10px;
  bottom: 10px;
  z-index: 10;
}

@media only screen and (max-width: 1199px) {
  .navbar-brand:not(.mobile) {
    transform: translate3d(-150%, 0, 0);
    transition: all 0.2s;
  }
  .navbar-brand.mobile {
    transform: translate3d(0, 0, 0);
    transition: all 0.2s 0.2s;
  }
  .masthead .navbar-collapse .navbar-nav {
    transform: translate3d(-90px, 0, 0);
  }
}

@media (max-width: 767px) {
  .masthead .navbar-collapse .navbar-nav,
  .masthead.scrollsville .navbar-collapse .navbar-nav {
    transform: unset;
    width: 100%;
    margin: 24px 0;
    font-size: 1.25rem;
  }

  .navbar-nav .nav-link:hover {
    background: rgba(255, 255, 255, 0.2);
  }

  .navbar {
    background: rgba(0, 0, 0, 0.94);
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .navbar-nav .nav-link {
    font-size: 0.875rem;
    margin-left: 0.25rem !important;
    padding-top: 0.6rem;
    padding-bottom: 0.6rem;
  }
}
